<div class="alert alert-warning" role="alert">
  <p>
   **Attention:** Support for BTCPay will be removed in the next release.
    To continue using BTCPay functionality, please install the "<a href="{{ replacementLink }}">{{ replacementPluginName }}</a>" plugin.
  </p>
</div>
