<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Coinsnap</title>
        <input-field>
            <name>coinsnapStoreId</name>
            <label>Coinsnap Store Id</label>
        </input-field>
        <input-field>
            <name>coinsnapApiKey</name>
            <label>Coinsnap API Key</label>
        </input-field>
        <input-field>
            <name>coinsnapWebhookId</name>
            <label>Webhook id</label>
            <disabled>true</disabled>
        </input-field>
        <input-field>
            <name>coinsnapWebhookSecret</name>
            <disabled>true</disabled>
            <label>Webhook secret</label>
        </input-field>
        <input-field type="checkbox">
            <name>coinsnapIntegrationStatus</name>
            <label>Connected to the Coinsnap</label>
            <disabled>true</disabled>
            <helpText>It shows whether or not the plugin is connected to Coinsnap</helpText>
            <helpText lang="de-DE"> Es zeigt an, ob das Plugin mit Ihrem Coinsnap verbunden ist oder nicht</helpText>
        </input-field>
        <component name="coinsnap-button">
            <name>buttons</name>
        </component>
    </card>
</config>
